<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
    <ul class="view_type">
        <li>
            <button type="button" class="box_1"><span class="blind">뷰 타입 1</span></button>
        </li>
        <li>
            <button type="button" class="box_4"><span class="blind">뷰 타입 2</span></button>
        </li>
        <li>
            <button type="button" class="box_2"><span class="blind">뷰 타입 3</span></button>
        </li>
        <li>
            <button type="button" class="box_3"><span class="blind">뷰 타입 4</span></button>
        </li>
    </ul>

</body>

</html>