// Sprites Map
$sp_temp: (
	name: 'sp_temp',
	ratio: 2,
	width: 52px,
	height: 52px,
	image: '../img/sprite/sp_temp.png',
	sprites: (
	num1: (
			offset-x: 0px,
			offset-y: 0px,
			width: 52px,
			height: 52px,
		),
	)
);
