@import 'common/reset';
@import 'common/base';
@import 'import/sprite_maps';
@import 'import/sprite_mixin';

header {
	color: blue;
	&:before {
		display: inline-block;
		@include get-sprite('num1', $sp_temp);
		vertical-align: top;
		content: '';
	}
}
